.theos
.vscode
build
packages
compile_commands.json

# 以下文件来自外部仓库
layout/var/mobile/Library/Application Support/UmaPyogin/hash_dicts
layout/var/mobile/Library/Application Support/UmaPyogin/stories
layout/var/mobile/Library/Application Support/UmaPyogin/static.json
