Package: moe.madoka.umapyogin-ios
Name: UmaPyogin
Version: 0.0.1
Architecture: iphoneos-arm
Description: 一个赛马娘翻译插件
Maintainer: chino
Author: chino
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
